@font-face {
    font-family: 'minecraft';
    src: url('fonts/minecrafttext.ttf') format('truetype');
}

body {
    font-family: 'minecraft', sans-serif;
    letter-spacing: 2px;
}

body {
    color: rgb(255, 255, 255);
  }
